@media (min-width: 990px) {
  .side-bar {
    display: none;
  }
}
@media (max-width: 1219px) {
}
@media (max-width: 1199px) {
  .section_title {
    margin-bottom: 30px;
  }
  body {
    overflow-x: hidden !important;
  }
}
@media (max-width: 990px) {
  .category_list_block {
    width: 31%;
  }
  nav {
    height: 148px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  html {
    overflow-x: hidden !important;
  }
  .search_wrapp {
    margin-top: 14px;
  }
  nav.d-flex.align-items-center {
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  section.banner_home {
    margin-top: 148px;
  }
  .padding_top {
    padding-top: 60px;
  }

  section {
    padding-bottom: 60px;
  }
  ul#ui-id-1 {
   
    width: unset !IMPORTANT;
}
section.banner.position-relative {
  margin-top: 147px;
  /* background: gainsboro; */
}
section.product_list {
  margin-top: 84px;
}
div#user_account_block ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.user_account_item {
  width: 100%;
}

div#user_account_block {
  margin-top: 26px;
}
section.cart_page.padding_top-button {
  margin-top: 106px;
}
#checkout table tr .t-cart {
  width: 300px;
  display: block;
}

.product_des {
  min-width: 200px;
}
thead.table_cart tr th {
 
  min-width: 150px;
}
.cart_title {
  margin-bottom: 20px;
}
.product_detail-block {
  margin-top: 33px;
}
section.paddint_reomve {
  margin: 0;
}

}
@media (max-width: 767px) {
  .cart_coupon input {
    padding: 10px 10px 17px 14px;
    width: 143px;

}
button.btn_coupon {
  padding: 8px 16px;
 
  width: 153px;
  height: 42px;
  
}
.product_detail-btn a {
  
  width: unset;
  
}
section#cart a.add_cart.text-white {
  width: unset;
  margin-top: 16px;
}

.cart_totle-price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 8px;
}
  .product_detail-block h2 {
    
    font-size: 17px;
    line-height: 20px;
 
}
.product_detail_price h1 {

  font-size: 25px;
  line-height: 29px;

}
.product_detail_price h1 s {
  font-size: 15px;
  line-height: 20px;
  text-decoration-line: line-through;
  text-transform: capitalize;
  color: rgb(115, 120, 125);
  margin-left: 0;
}


  .range-slider {

margin-bottom: 48px;

margin-top: 20px;
}
  .flas_img {
    border: 1px solid rgba(128, 128, 128, 0.17);
  }
  
  .logo_block img {
    width: 76px;
  }
  .three_banner-img img {
    height: 153px;
    object-fit: cover;
  }
  .delivery_img {
    margin-bottom: 10px;
  }
  .clocktxt {
    font-size: 18px;
    line-height: 28px;
  }
  span#hours,
  span#minutes,
  span#seconds {
    width: 33px;
    height: 33px;

    line-height: 33px;

    font-size: 16px;
  }
  div#clock {
    margin-top: 17px;
  }

  .category_list_block {
    width: 45%;
  }
  .product_category {
    flex-direction: column;
  }
  nav {
    /* height: 122px; */
  }
  .product_category {
    background: unset;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
  .category_list-item {
    left: 0;
  }
  .footer_title {
    margin: 10px 0 7px 0;
  }
  section.best_selling .flas_img img {
    width: 100%;
    min-height: 165px;
    max-height: 165px;
    border: 1px solid rgba(128, 128, 128, 0.21);
    object-fit: contain;
  }
  input[type=number] {
  
    left: -19px;
    top: -15px;

}
.btn-page {
 
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 21px;

}
button.btn-nav.right-btn img ,button.btn-nav.left-btn img{
  width: 14px;
}

section.product_detail .d-flex.flex-md-row.flex-column.justify-content-between.align-items-center.py-3.mt-3 {
  justify-content: start !important;
  align-items: start !important;
}

}
